Flask==2.1.0
ruamel.yaml>=0.17
boto3>=1.24
cachetools>=5.2
#flask-socketio
#eventlet
Werkzeug==2.2.2
flask-login
flask_sqlalchemy
blinker>=1.5
requests
transformers
openai==0.28.1
spacy
SQLAlchemy==1.4.46
loguru
pyopenssl==23.3.0