{% extends "base.html" %}

{% block content %}

{% set max_turns = (limits or {}).get('max_turns_per_thread', 10000) %}
{% set remaining_turns = namespace(value=max_turns) %}
<section style="background-color: #eee;">
    {% if focus_mode %} 
    {% else %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../">All chats</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{thread.id}}</li>
        </ol>
    </nav>
    {%endif%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-8 border-left border-right">
                <div class="text-right disabled">
                    <span id='status_info' class="btn btn-sm btn-secondary">Status unknown</span>
                </div>
                {% if topic.data.get('target_user') %}
                <div class="alert alert-info p-1 text-center"> You are replying as <b>Speaker
                        {{topic.data['target_user']}}</b></div>
                {% endif %}
                <ul id="chat-thread" class="list-unstyled" style="overflow-y:scroll; height:640px">
                    {% for msg in thread.messages %}
                    {% if msg.user_id == cur_user.id %}
                    {% set remaining_turns.value = remaining_turns.value - 1 %}
                    {% endif %}

                    {% set display_user = "You" if msg.user_id == cur_user.id else (msg.data['speaker_id'] if
                    msg.data.get('fake_start') else msg.user_id) %}
                    {% set display_right_side = msg.user_id == cur_user.id or (msg.data.get('fake_start') and
                    msg.data.get('speaker_id') == topic.data.get('target_user')) %}

                    <li class="d-flex justify-content-between mb-1">
                        <div class="card {% if display_right_side %} alert-info {% endif %} {% if msg.user_id == 'bot01' %} alert-warning {% endif %}"
                            {% if display_right_side %} style="float:right;" {%endif%}>
                            <div class="card-header d-flex justify-content-between p-2">
                                <p class="fw-bold mb-0"> {{display_user}}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i>
                                    {% if msg.time %} {{ msg.time | ctime }}
                                    {% else %} (time not found) {%endif %}
                                </p>
                            </div>
                            <div class="card-body" style="padding: 0.5em">
                                <p class="mb-0">{{ msg.text }}</p>
                                {% if msg.data.get('text_orig') %}
                                <p class="mb-0 text-muted">{{ msg.data['text_orig'] }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <form id="next_msg_form" class="form" action="#" method="POST">
                    <div class="form-group basic-textarea" style="display: flex">
                        <textarea id="next_msg_text" class="form-control pl-2 my-0" rows="2"
                            placeholder="Type your message here..."></textarea>
                        <div class="my-1">
                            <input type="submit" class="btn btn-primary mx-2" id='send_btn' value="Send"
                                type="submit"></input>
                        </div>
                    </div>
                </form>
                <div id="end_info" class="p-4 alert alert-info">
                    This chat has already reached the sufficient number of turns. So futher replies are disabled.
                </div>
            </div>
            <!-- hide this block when more turns to go; but show this to admin regardless -->
            <div {% if cur_user.role !='admin' and remaining_turns.value> 0 %} style="display:none" {%endif%}
                id="ratings-view" class="col-md-6 col-lg-5 col-xl-4 mb-4 border-right border-left">
                {%set is_disabled = 'disabled' if (thread.data or {}).get('rating_done') else '' %}

                <form action="{{url_for('app.thread_rating', thread_id=thread.id)}}" method="POST" id="ratings-form"
                    class="form">
                    <b>Rate this conversation:</b>
                    {% for q in rating_questions %}
                    {% set prev_ratings = (thread.data or {}).get('ratings') or {}%}
                    <li class="list-group-item">
                        <i>{{q['question']}}</i>
                        <input id="rating-{{loop.index}}" type="range" list="tickmarks" style="width: 100%;" min="1"
                            max="{{q['choices']|length}}" name="{{q['question']}}"
                            value="{{prev_ratings.get(q['question'])}}" {{is_disabled}}>
                        <datalist id="tickmarks-{{loop.index}}"
                            style="display: flex; justify-content: space-between; width: 100%;">
                            {% for ch in q['choices'] %}
                            <option>{{ch}}</option>
                            {%endfor%}
                        </datalist>
                    </li>
                    {% endfor %}
                    {% if focus_mode %} <input name="focus_mode" value="True" type="hidden" /> {%endif%}
                    <input type="submit" value="Submit" class="btn btn-primary my-4 ml-2" {{is_disabled}} />
                </form>
                <hr />
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var remaining_turns = {{ remaining_turns.value }};

        function show_new_message(msg, side) {
            let theme = side == 'right' ? 'alert-primary' : 'alert-warning'
            let chat_html = `
            <li style="width:100%">
                <div class="card ${theme} mb-4" style="float:${side}; width:75%">
                    <div class="card-header d-flex justify-content-between p-2">
                        <p class="fw-bold mb-0"> ${msg['user_id']} </p>
                        <p class="text-muted small mb-0"><i class="far fa-clock"></i>${msg['time']}</p>
                    </div>
                    <div class="card-body" style="padding: 0.5em">
                        <p class="mb-0">${msg['text']}</p>
                    </div>
                </div>
            </li> <li></li>`
            $('#chat-thread').append($.parseHTML(chat_html))
            refresh_view()
        }

        function refresh_view() {
            $('#chat-thread').animate({ scrollTop: $('#chat-thread').last().offset().bottom }, 'slow');
            if (remaining_turns < 1) {
                $('#next_msg_form').hide()
                $('#end_info').show()
            } else {
                $('#next_msg_form').show()
                $('#end_info').hide()
            }
        }

        window.onload = () => {
            let user_data = { user_name: '{{cur_user.name}}', user_id: '{{cur_user.id}}', thread_id: '{{thread.id}}' }

            const socket = io()
            socket.on('connect', () => {
                console.log('socket connected')
                $('#status_info').text('Connected').attr('class', 'btn btn-sm btn-success')
                socket.emit('user_connect', { message: 'User connected', user: user_data })
            });

            socket.on('disconnect', () => {
                console.log('socket disconnected')
                $('#status_info').text('Disconnected').attr('class', 'btn btn-sm btn-danger')
                //socket.emit('my event', {data: 'User Dis Connected'})
            });

            // TODO: register socket on {{thread.id}}
            // catch all event listener
            socket.prependAny((event, ...args) => {
                console.log(`got ${event} \t args:`);
                console.log(args)
            });

            $("#next_msg_text").keyup(event => {
                if (event.which === 13) {
                    $("#next_msg_form").submit();
                }
            });

            $("#next_msg_form").submit(event => {
                event.preventDefault();
                var text = $('#next_msg_text').val().trim()
                if (!text) {
                    console.log('No text to send')
                    return
                }

                data = { 'text': text, time: new Date().toISOString() }
                data = { ...user_data, ...data }  //combine two

                msg_id = show_new_message(data, side = 'right')
                console.log(data)
                socket.emit('new_message', data, (reply) => {
                    console.log('server reply:')
                    console.log(reply)
                    if (reply['head']['status'] == 'success') {
                        if (reply['body']['episode_done']) {
                            $('#ratings-view').show()
                            remaining_turns = 0
                        }
                        msg_id = show_new_message(reply['body'], side = 'left')
                        $('#next_msg_text').val('')
                    } else {
                        alert('Something went wrong. See logs.')
                    }
                })
            })
            refresh_view()
        }
    </script>
</section>
{% endblock%}