{% set focus_mode = True %}
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" id="myTabContent">

            {% if onboarding and onboarding.get('agreement_text') %}
                <div class="col-12">
                    {{onboarding['agreement_text']|safe}}
                </div>
            {%endif%}
            <div class="col-12" id="signup">
            <form action="{{url_for('app.seamlesslogin')}}" method="POST" class="form">           
                <input type="hidden" name="action" value="signup">
                <!-- <h1 class="h3 mb-3 mt-4 font-weight-normal">Please Review Agreement</h1> -->
                <input type="hidden" name="user_id" id="s_user_id" class="form-control mt-2" value="{{ext_id}}" >
                <input type="hidden" name="secret" id="s_password" class="form-control mt-2" value="{{ext_id}}">
                <input type="hidden" name="ext_id" value="{{ext_id}}"> 
                <input type="hidden" name="ext_src" value="{{ext_src}}"> 
                {% if onboarding %}
                    {%if onboarding.get('checkboxes') %}
                        {%for check_name, check_value in onboarding['checkboxes'].items() %}
                            <div class="form-check my-2">
                                <input class="form-check-input" type="checkbox" value="true" id="{{check_name}}" name="checkbox_{{check_name}}" required
                                    autofocus>
                                <label class="form-check-label" for="{{check_name}}">
                                    {{check_value|safe}}
                                </label>
                            </div>
                        {%endfor%}
                    {%endif%}
                {%endif%}
                <!-- Name not required; favor anonymity
                <input type="text" name="name" id="name" class="form-control mt-2" placeholder="Name" required>
                -->
                {% if next %} <input type="hidden" name="next" value="{{next}}"> {%endif%}
                <button class="btn btn-lg btn-primary btn-block col-4 mt-2" type="submit">Agree and proceed</button>
                <small class="text-muted">The server might take upto a minute to finish setting up. Do NOT hit refresh/reload while the webpage is loading.</small>
            </form>
        </div>
    </div>
</div>

{% endblock %}