{% extends 'base.html' %}


{% block content %}
<div class="container-fluid">
  <h3 class="text-center">{% block title %} Chat Admin {% endblock %}</h3>
  <div class="row m-4">
    <div class="col-4">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{url_for('admin.get_topics')}}">Tipics</a>
          <span class="badge badge-primary">{{counts.get('topic')}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{url_for('admin.get_users')}}">Users </a>
          <span class="badge badge-primary">{{counts.get('user')}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{url_for('admin.get_threads')}}">Threads</a>
          <span class="badge badge-primary">{{counts.get('thread')}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Messages
          <span class="badge badge-primary">{{counts.get('message')}}</span>
        </li>
      </ul>
    </div>
    <div class="col-6">
      {%set ext_url= url_for('app.index', _external=True)%}
          External URL: <a href="{{ext_url}}" target="_blank">{{ext_url}}</a>
      <p class="text-muted">
        Make sure the above URL is accessible via the (public) Internet so crowd workers can access me from their home computers.
        <br/>
        Hint: set <code>flask_config.SERVER_NAME=</code> in config YML file to public server name
      </p>
    </div>
  </div>
</div>
{% endblock %}